# Dependencies
/node_modules

# Build output
/dist

# Logs
*.log
npm-debug.log*
debug_log.txt

# Environment variables
.env

# Test output
loadTestStats.json
loadTestStatsNoDelay.json
/coverage

# TypeScript build info
*.tsbuildinfo